<%= erb :'_errors' %>

<h1> Make a new User </h1>

<form method='post' action= '/users'>
    <input type="text" name="user[username]" placeholder='Name'>
    <input type="email" name="user[email]" placeholder='Email'>
    <input type="password" name="user[password]" placeholder='Password'>
    <input type="submit" value="Submit">
</form>
