<h1> Make a new User </h1>

<form method='post' action= '/'>
   <div>
    <label for="name_input">Name:</label>
    <input type="text" name="user[name]">
    </div>

    <div>
    <label for="name_input">Email:</label>
    <input type="email" name="user[email_address]">
    </div>
    <div>

    <label for="name_input">Password:</label>
    <input type="password" name="user[password]">
    </div>

<input type="submit" value="Submit">
</form>

