<h1> Make a new User </h1>

<form method='post' action= '/'>
    <input type="text" name="user[name]" placeholder='Name'>
    <input type="email" name="user[email_address]" placeholder='Email'>
    <input type="password" name="user[password]" placeholder='Password'>
    <input type="submit" value="Submit">
</form>

